%h1 About
%p 
  Hampton Catlin is the original inventor of 
  = link_to "Sass", "http://sass-lang.com"
  \. Michael Lintorn Catlin is his husband and a front-end developer. 
%p This is a simple site to let you try out Sass. No fuss - just put your Sass in one box and see the compiled CSS in the other.
%h3 More Information
%p Excited by Sass? Want to learn more about it? Check out some of these great resources:
%ul.learn_more
  %li 
    = link_to "Sass Site Tutorial", "http://sass-lang.com/tutorial.html"
  %li 
    = link_to "The Pragmatic Guide to Sass", "http://pragprog.com/book/pg_sass/pragmatic-guide-to-sass"
  %li
    = link_to "Code School Sass course", "http://www.codeschool.com/courses/assembling-sass"
= link_to "« Back", "/", :class => "back_btn"